.MissionsList {
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 10px;
}

.MissionsList .box {
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
}


.box :hover {
    color: gold;
}