.Mission {
    left: 0;
    text-align: center;
}

.Comment {
    margin-left: 2rem;
    right: 0;
    text-align: center;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  textarea {
    width: 30rem;
    height: 20rem;
  }